<div class="ui inverted masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="active item">Home</a>
      <a class="item">Careers</a>
      <div class="right item">
        <a class="ui inverted purple button" {{action "login"}}>Log in w/ Facebook</a>
      </div>
    </div>
  </div>
  <div class="ui text container">
    <h1 class="ui inverted header">
      Giphy Connect!
    </h1>
    <h2>Share you favorite gif's with your FB friends.</h2>
    <div class="ui huge purple inverted button" {{action "login"}}>
      Get Started Using Facebook
      <i class="right arrow icon" />
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Share Animated Gifs</h3>
        <p>
          Your friends all want to see your favorite gifs. You just don't want to clutter your timeline. Now there's a solution!
        </p>
        <h3 class="ui header">Join Groups</h3>
        <p>
          Giphy Connect supports groups outside of Facebook. Now you don't have to see everybody's updates just to share your gifs with them!
        </p>
      </div>
      <div class="six wide column floated right">
        <img class="ui large bordered rounded image" src="http://i.giphy.com/b9ZLIMwec9Qek.gif" />
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <img class="ui large bordered rounded image" src="http://i.giphy.com/bR5zPneVA1wic.gif" />
      </div>
      <div class="eight wide column floated right">
        <h3 class="ui header">Everybody is an Admin</h3>
        <p>
          We don't discrimintate. If you can log in, then you can do anything you want! Add users. Add groups. You can even add users to groups if you want!
        </p>
      </div>
    </div>
  </div>
</div>
