<i class="close icon" />
<div class="header">
  Add New Group
</div>
<div class="content">
  <form class="ui form">
    <div class="field">
      <label for="name">Name</label>
      <div class="field">
        {{input value=groupName placeholder="Group Name"}}
      </div>
    </div>
  </form>
</div>
<div class="actions">
  <div class="ui red deny button" {{action "cancel"}}>
    Cancel
  </div>
  <div class="ui positive right labeled icon button" {{action "save"}}>
    Save
    <i class="checkmark icon" />
  </div>
</div>