<div class="ui main text container">
  <h1 class="ui header">Thanks for logging in!</h1>
  <p>I wanted to have Giphy search and posting working but I've been fighting Ember Semantic UI to get the required functionality working...</p>
  <p>If you want to see a working Relay/React based Giphy search app I built, check out <a href="http://relay-giphy.herokuapp.com/">Relay Giphy</a></p>
  <p> You can find the source for it at <a href="https://github.com/CrshOverride/relay-giphy">https://github.com/CrshOverride/relay-giphy</a></p>
  <img src="http://i.giphy.com/6OWIl75ibpuFO.gif" />
</div>